body {
    background-image: url(../images/background-food.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    background-position-y: 70px;
    
}

#naslov{
    font-size: 50px;
    margin-top: 5px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
    letter-spacing: 10px;
}